.navigator {
    width: 80px;
    height: 100%;
    position: fixed;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    .Container-Item {
        display: flex;
        flex-direction: column;

        .Nav-Item {
            // background-color: red;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active {
                background-color: #efeef8;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
        .spanTitle{
            display: flex;
            justify-content: center;
            border-bottom: 1px solid #ccc;
            font-size: 13px;
        }
    }

}
